<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">Tambah Karyawan</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="12" cellspacing="12">
                <tr>
                    <th width="50px">NIK</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>
                    <th width="120px">Action</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=data[i].nik%></td>
                    <td><%=data[i].nama%></td>
                    <td><%=data[i].alamat%></td>
                    <td><%=data[i].Jkel%></td>
                    <td><%=data[i].tgl_lahir%></td>
                    <td>
                        <a class="a-inside edit" href="../karyawan/edit/<%=data[i].nik%>">Edit</a>

                        <a class="a-inside delete" href="../karyawan/delete/<%=data[i].nik%>">Delete</a>

                    </td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">Tidak ada Karyawan</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>
